<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://image.stern.de/7272754/16x9-940-529/5a50750c5c27d4fe7f1b09f88d46ddae/Nh/cocktails.jpg);">
  <div class="banner-content">
    <h1>The <strong>best Cocktails</strong>!</h1>
    <p>Change your life and try these beauties.</p>
  </div>
</div>
<div class="container text-center">
  <h1>All my Cocktails</h1>
  <br>
    <% @cocktails.each do |cocktail| %>
    <div class="card-description">
          <h2><%= cocktail.name %></h2>
        </div>
        <%=  cl_image_tag cocktail.photo.key, height: 200, width: 100, crop: :fill %>
          <p><%= link_to "Details", cocktail_path(cocktail), class: 'card-link' %></p>
    <% end %>
</div>


